<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="..\static\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="..\static\home.css">
     <link rel="icon" href="logo.png">
    <script>
        function index() {
            window.location.href = "..\templates\home.html";
        }
    </script>
</head>
<body>
    <header>
        <div class="logo">Virtual Classroom</div>
        <nav>
            <ul>
                <li><a href="..\templates\home.html">Home</a></li>
                <li><a href="..\templates\course.html">Course</a></li>
                <li><a href="..\templates\login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="contact">
        <div class="container">
        <h1>Contact Us</h1>
        <div class="contact-details">
            <p><strong>Email:</strong> <a href="mailto:Karthikeyan121504@gmail.com">Karthikeyan121504@gmail.com</a></p>
            <p><strong>Phone:</strong> <a href="tel:+919790037126">9790037126</a></p>
        </div>
        <div class="social-links">
           <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook" style="color:#3b5998; font-size:20px"></i> Facebook</a> | 
<a href="https://x.com/SKarthikeyan04"><i class="fa-brands fa-twitter" style="color:#1DA1F2; font-size:20px"></i> Twitter</a> | 
<a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin" style="color:#0077b5; font-size:20px"></i> LinkedIn</a> |
<a href="https://www.instagram.com/karthikeyan_1215?igsh=MTM2M3E5a2kwYmsz"><i class="fa-brands fa-instagram" style="color:#C13584; font-size:20px"></i> Instagram</a> | 
<br><a href="https://wa.me/qr/ZUXSL3YBO5AWB1 "><i class="fa-brands fa-whatsapp" style="color:#25D366; font-size:20px"></i> WhatsApp</a>

        </div>
    </div>
    </div>
</body>
</html>
