<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
 <link rel="stylesheet" href="..\static\style.css">
 <link rel="stylesheet" href="..\static\home.css">
  <link rel="icon" href="logo.png">
</head>
<body>
     <header>
        <div class="logo">Virtual Classroom</div>
        <nav>
            <ul>
                <li><a href="..\templates\home.html">Home</a></li>
                <li><a href="..\templates\course.html">Course</a></li>
                <li><a href="..\templates\enroll.html">Back</a></li>
            </ul>
        </nav>
    </header>
    <div class="contact">
        <div class="container"><br>
                <h1>Profile</h1><br>
                <div class="contact-details">
                <p><strong>Name:</strong>Alice Johnson</p><br>
                <p><strong>Phone Number:</strong>9885425415</p><br>
                <p><strong>Email:</strong>alice@gmail.com</p><br>
                </div>
    </div>  
</body>
</html>
